{
  "experimentalTernaries": true,
  "experimentalOperatorPosition": "start",
  "printWidth": 110,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "consistent",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "objectWrap": "collapse",
  "bracketSameLine": true,
  "arrowParens": "always",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "strict",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
